.attendance_form_flex{
                
.attendance_form{
    margin-bottom: 10px;

    input{
    margin: 10px;
    }

    input[type=submit]{
        border-radius: 10px;
        border-style: hidden;
        }
    }
}

.attendance_message{
    color: rgba($color: #21e008, $alpha: 1.0);
    font-weight: bold;
    font-size: 20px;
    width: 200%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.attendance_onleave_list{
    margin-bottom: 25px;
    width: 100%;
}

.checkbox_form{
    width: 200%;
    
    .student_name{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 170px;
    }

    input{
        margin-left: 30px;
    }
}

