.attendance_report{
    width: 200%;
    

    .attendance_report_col{
        text-decoration: underline;
        font-weight: bold;
        margin-top: 10px;
    }

    .attendance_report_data{
        margin-top: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 180px;
    }

    .attendance_report_attended1{
        margin-top: 10px;
        font-weight: bold;
        color: rgba($color: #04c404, $alpha: 1.0);
    }

    .attendance_report_attended2{
        margin-top: 10px;
        font-weight: bold;
        color: rgba($color: #9bd43f, $alpha: 1.0);
    }

    .attendance_report_attended3{
        margin-top: 10px;
        font-weight: bold;
        color: rgba($color: #fad818, $alpha: 1.0);
    }

    .attendance_report_attended4{
        margin-top: 10px;
        font-weight: bold;
        color: rgba($color: #da2626, $alpha: 1.0);
    }
}