.attendance_container{
    position: relative;

    .attendance_back_button{
        position: absolute;
        top: 0;
        left: 5%;
        border-radius: 10px;
        border-style: hidden;
        height: 30px;
        width: 30px;
        }

    .header{
        display: flex;
        justify-content: space-around;
        margin: 30px;

        .topic{
            font-weight: bold;
            text-decoration: underline;
            font-size: 32px;
            color: ivory;
        }

        .button_background{
            position: relative;

            .leave_approve{
                border-radius: 3px;
                border-style: hidden;
                font-weight: bold;
                background-color: white;
                height: 45px;
            }

            .leave_app_alert{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                width: 20px;
                background-color: red;
                position: absolute;
                bottom: -17%;
                left: 88%;
                border-radius: 50%;
            } 
        }
    }

    .page_changer{
        display: flex;
        justify-content: center;
        border-bottom: black;

        button{
            margin-right: 30px;
            margin-left: 30px;
            margin-bottom: 20px;
            font-weight: bold;
            border-style: hidden;
            border-radius: 5px;
            width: 120px;
        }
    }

    .list_background{
        background-color: white;
        min-height: 60vh;
        border-radius: 5px;
        margin-bottom: 60px;

        .flex{
            display: flex;
            flex-wrap: wrap;

            .cohort{
                margin-top: 20px;
                margin-left: 16%;
                font-size: 20px;
                font-weight: bold;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    } 
}

