.attendance_record{
    width: 200%;
    margin-top: 20px;
    
    .attendance_record_desc{
        margin-bottom: 10px;
        cursor: pointer;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 130px;
        border-bottom: 1px solid gray;
    }

    .attendance_record_datetime{
        cursor: pointer;
        margin-bottom: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        border-bottom: 1px solid gray;
    }

    .attendance_record_delbutton{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border-style: hidden;
        height: 23px;
        width: 23px;
        margin-bottom: 11px;
    }
}

.record_lesson_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200%;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    position: relative;

    button{
        position: absolute;
        left: 0;
        top:0;
        border-radius: 10px;
        border-style: hidden;
    }

    input{
        margin-bottom: 10px;
    }

    .record_message{
        margin-left: 20px;
        color: green;
    }
}

.attendance_checkbox_form{
    margin-top: 10px;
    width: 200%;

    .student_name{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 130px;
    }

    input{
        margin-left: 30px;
    }

    .record_attended{
        text-transform: capitalize;
        font-weight: bold;
        color: chartreuse;
    }

    .record_absent{
        text-transform: capitalize;
        font-weight: bold;
        color: crimson;
    }

    .record_late{
        text-transform: capitalize;
        font-weight: bold;
        color: gold;
    }

    .record_leave{
        text-transform: capitalize;
        font-weight: bold;
        color: gray;
    }
}

#instructorRecordPaginate{
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 22px 0;
        border-radius: 4px;
      }
      .pagination > li {
        display: inline;
      }
      .pagination > li > a,
      .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        line-height: 1.42857143;
        text-decoration: none;
        color: #2c689c;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-left: -1px;
      }
      .pagination > li:first-child > a,
      .pagination > li:first-child > span {
        margin-left: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
      .pagination > li:last-child > a,
      .pagination > li:last-child > span {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
      .pagination > li > a:hover,
      .pagination > li > span:hover,
      .pagination > li > a:focus,
      .pagination > li > span:focus {
        z-index: 2;
        color: #1b4060;
        background-color: #eeeeee;
        border-color: #ddd;
      }
      .pagination > .active > a,
      .pagination > .active > span,
      .pagination > .active > a:hover,
      .pagination > .active > span:hover,
      .pagination > .active > a:focus,
      .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        background-color: #2c689c;
        border-color: #2c689c;
        cursor: default;
      }
      .pagination > .disabled > span,
      .pagination > .disabled > span:hover,
      .pagination > .disabled > span:focus,
      .pagination > .disabled > a,
      .pagination > .disabled > a:hover,
      .pagination > .disabled > a:focus {
        color: #777777;
        background-color: #fff;
        border-color: #ddd;
        cursor: not-allowed;
      }
      .pagination-lg > li > a,
      .pagination-lg > li > span {
        padding: 10px 16px;
        font-size: 20px;
        line-height: 1.3333333;
      }
      .pagination-lg > li:first-child > a,
      .pagination-lg > li:first-child > span {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
      }
      .pagination-lg > li:last-child > a,
      .pagination-lg > li:last-child > span {
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
      }
      .pagination-sm > li > a,
      .pagination-sm > li > span {
        padding: 5px 10px;
        font-size: 14px;
        line-height: 1.5;
      }
      .pagination-sm > li:first-child > a,
      .pagination-sm > li:first-child > span {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
      }
      .pagination-sm > li:last-child > a,
      .pagination-sm > li:last-child > span {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
      }

}