.insert_payment_heading{
    color: ivory;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 20px;
}

.insert_payment_search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: ivory;
    min-height: 400px;
    border-radius: 10px;
    margin-top: 20px;

    input{
        margin-top: 20px;
        width: 50%;
    }

    .insert_payment_student{
        margin-top: 10px;
        cursor: pointer;
    }

    .insert_payment_form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        input{
            width: 80%;
        }
    }

    .insert_payment_message{
        margin-top: 10px;
        font-weight: bold;
        color: rgba($color: #44be1e, $alpha: 1.0);
    }
}