.leave_app_card{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;

    .bold{
        font-weight: bold;
    }

    .leave_app_approval_yes{
        color: rgba($color: #2ee21e, $alpha: 1.0);
        font-weight: bold;
    }

    .leave_app_approval_no{
        color: rgba($color: #eb280e, $alpha: 1.0);
        font-weight: bold;
    }

    .leave_app_approval_progress{
        color: rgba($color: #4d11f0, $alpha: 1.0);
        font-weight: bold;
    }

    .leave_app_approval_button_yes{
        margin-right: 20px;
        height: 30px;
        width: 30px;
        border-style: hidden;
        background-color: transparent;
        color: rgba($color: #47da39, $alpha: 1.0);
    }

    .leave_app_approval_button_no{
        margin-right: 20px;
        height: 30px;
        width: 30px;
        border-style: hidden;
        background-color: transparent;
        color: rgba($color: #dd2121, $alpha: 1.0);
    }
    
    .leave_app_trash{
        position: absolute;
        right: 2%;
        top: 3%;
        height: 30px;
        width: 30px;
        border-style: hidden;
        background-color: transparent;
    }
}
 