.manual_course_container{
    position: relative;

    .header{
        display: flex;
        justify-content: flex-start;
        margin: 30px;
        margin-left: 18%;

        .topic{
            font-weight: bold;
            text-decoration: underline;
            font-size: 32px;
            color: ivory;
        }
    }

    .page_changer{
        display: flex;
        justify-content: center;

        button{
            margin-right: 5px;
            margin-left: 10px;
            margin-bottom: 20px;
            font-weight: bold;
            border-style: hidden;
            border-radius: 5px;
            width: 120px;
        }
    }

    .list_background{
        background-color: white;
        min-height: 60vh;
        border-radius: 5px;
        margin-bottom: 60px;

        .manual_course_card{
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;
        
            .bold{
                font-weight: bold;
            }

            .manual_course_trash{
                position: absolute;
                right: 2%;
                top: 3%;
                height: 30px;
                width: 30px;
                border-style: hidden;
                background-color: transparent;
            }
        }

        .manual_course_coupon_trash{
            position: absolute;
            right: 2%;
            height: 30px;
            width: 30px;
            border-style: hidden;
            background-color: transparent;
        }

        .manual_course_message_ok{
            margin-top: 20px;
            font-weight: bold;
            color: rgba($color: #45dd26, $alpha: 1.0)
        }

        .manual_course_message_deny{
            margin-top: 20px;
            font-weight: bold;
            color: rgba($color: #df1f1f, $alpha: 1.0)
        }
    } 
}
