.info_search{
    padding-top: 20px;

    .heading{
        color: ivory;
        text-decoration: underline;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 20px;
    }

    input{
        margin-bottom: 20px;
    }

    .info_search_student{
        font-weight: bold;
        color: ivory;
        margin-left: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }  
}

.info_student_info{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .column{
        font-weight: bold;
    }

    .price{
        margin-bottom: 20px;
    }

    .quitted{
        font-weight: bold;
        color: rgba($color: #dd1414, $alpha: 1.0);
        cursor: pointer;
    }

    .not_quitted{
        font-weight: bold;
        color: rgba($color: #43b61f, $alpha: 1.0);
        cursor: pointer;
    }
}