// .nav {
//     width: 100%;
//     padding: 5px;
//     right: 0%;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     // height: 30px;
//     // margin-top: 70px;
  
//     a{
//     color: #000000;
//     font-weight: bold;
//     }

//     a.active {
//       font-weight: bold;
//       color: gray;
//     }
//   }

// .logo{
//   width: 150px; 
//   position: absolute; 
//   top: 20px; 
//   left: 20px;

//   img{
//     filter: brightness(1000%);  
//     width: 100%; 
//     height:100%;
//     object-fit: cover;
//     object-position: center center; 
//     opacity: 1; 
//     transition: none 0s ease 0s;
//   }
// }