#LeftBar{
  text-align: center;
}



#LeftBar .nav-collapse{
  padding: .5rem 1rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.nav-item:hover{
  background-color: gray;
}

.sub-nav-item:hover{
  background-color: rgb(218, 218, 218);
}


#goBackLeft{
  position: relative;
  color: #333;;
  background-color:rgba(0, 0, 0, 0);
  margin: 20px;
  top:20px;
  border: none;
  right: 40%;
  font-size: 30px;
}

#goBackLeft:hover{
  background-color: gray;
}
.sidebar {
    position: fixed;
    top:0;
    bottom: 0;
    left: -305px;
    z-index: 102; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }


  [data-region=true]{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    z-index: 102; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    transition: left 300ms ease-out;
  }

  [data-region=false]{
    position: fixed;
    top:0;
    bottom: 0;
    left: -999px;
    z-index: 102; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    transition: left 300ms ease-in;
  }

[data-overlap=true]{
    position: fixed;
    top:0;
    bottom: 0;
    z-index: 101;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease 0s;
  }

  
 [data-overlap=false]{
    position: fixed;
    top:0;
    bottom: 0;
    z-index: 101;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0s ease 0.3;
    transform: translate3d(100%, 0px, 0px)
  }

  /* .sidebar.show {
    position: fixed;
    top:0;
    bottom: 0;
    left: -305px;
    z-index: 102; Behind the navbar
    padding: 48px 0 0; Height of navbar
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  } */
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  

/* .collapse{
    left:-305;
    transition: left 600ms ease-out;
}

.collapseShow{
    right:auto;
    left: 0;
} */
