.superSpin{
    position: fixed;
    left: 45%;
    bottom: 50%;
    
    
    
    .insideSpinner{
        width: 60px;
        height: 60px;
        margin: 0px auto;
    }
}

.infoCardGroup{
    width: 100%;
}