.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    

    .heading{
        font-size: 30px;
        color: ivory;
        font-weight: bold;
    }
    
    #gitlabLogin>img{
        background-color: rgb(123,232,444);;
        height: 60px;
        width: 140px;
        border-radius: 10px;
        margin: 20px;
    }
    
    .message{
        color: red;
        font-size: 20px;
    }
}