.navbar{
    background-color: #3c3c4e;
    z-index:101;
}

.logo{
    filter: brightness(1.8);
}

.tecky_website{
    font-weight: bold;
    color:ivory;
    text-decoration: underline;
}

.barsButton{
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    margin-right: 10px;
}

.navButton{
    border-radius: 10px;
    background-color: white;
    border-style: hidden;
    height: 35px;
}

.current_user{
    font-weight: bold;
    margin-right: 20px;
    color: ivory;
 }

/* .collapse{
    overflow: hidden;
    position: relative;
    left: -200px;
    transition: left 600ms ease-out;
}
 */
