.back{
    display: flex;
    justify-content: center;

    .form{
        margin: 20px;
        width: 25rem;
        height: 280px;
        padding: 20px;
        background-color: ivory;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;

        .message{
            margin-top: 10px;
            color: blue;
        }
    }
}