.welcome{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: ivory;
}

#studentWelcomeImage{
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    height: auto;
}

#instructorWelcomeImage{
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    height: auto;
}