.studentBillingStatus{
    .dateForm{
        form{
            .dateGroup{
                display: flex;
                justify-content: space-around;
                margin: 10px;
            }

            .btnRow{
                display: flex;
                justify-content: center;

                .checkDateBtn{
                    margin: 5px;
                    width: 50%;
                }
             }
        }
        
    }

    .BillingsStatusTable{
        table{
            table-layout: fixed;
            word-break: break-all;
            word-wrap: break-word;
        }

       
    }
}

