.leaveApplicationForm{
    margin-top: 10px;
        border: 2px solid white;
        border-radius: 20px;
        background-color: white;

        #title{
            border-bottom: 1px solid gray;
        }
}