.materialPage{
    .addMaterialBtn{
        display: flex;
        justify-content: flex-end;

        button{
            margin: 5px;
        }
    }

    .infoCardGroup{
        display: flex;
        justify-content: center;

        .infoCard{
            margin: 15px;
        }
    }

    .card{
        .cardImage{
            height: 150px;
            width: auto;
        }
    }

    .courseList{
        cursor: pointer;
    }

    #previousBtn{
        color: #333;;
        background-color:rgba(0, 0, 0, 0);
        margin-right: auto;
        border: none;
        font-size: 30px;
    }

    #previousBtn:hover{
        background-color: gray;
      }
}