.studentPayment{

  
        margin-top: 10px;
        border: 2px solid white;
        border-radius: 20px;
        background-color: white;


        .subNav{
            border-bottom: 1px solid gray;

            #SubTile{
                color: rgba($color: #000000, $alpha: 0.5);
            }

            .subNavButton>.subNavLink{
                margin: 0 5px;
            }
            
        }
    
}
