.studentAttendance{
    .dateForm{
        form{
            .dateGroup{
                display: flex;
                justify-content: space-around;
                margin: 10px;
            }
        }
        .btnRow{
            display: flex;
            justify-content: center;

            .checkDateBtn{
                width: 50%;
            }
        }
        
    }
  

    .attendanceTable{
        table{
            table-layout: fixed;
            word-break: break-all;
            word-wrap: break-word;
        }
        tr:nth-child(even){
            background-color:rgba($color: #b5f3ce, $alpha: 1.0);
        }

    }
}


